.experienceParent {
  padding-top: 140px;
  padding-bottom: 140px;
}

.experience {
  width: 90vw;
}

.cardMain {
  background: linear-gradient(to top right, #e8cbc0, #636fa4);
  width: 60%;
  margin: 0 auto;
  box-shadow: 1px 1px 2px black;
}

.profileImg {
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
  border-radius: 0.25rem !important;
}
