.principlesRow {
  padding-top: 40px;
}

.principlesCol {
  padding-top: 0;
}

@media screen and (max-width: 450px) {
  .principlesCol {
    padding-top: 40px;
  }
}

.principleTitle {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  padding-bottom: 5%;
}

.principleText {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 4vh;
  /* text-shadow: 0 0 1vh black; */
}

.principlespicture {
  width: 35vh;
  padding-bottom: 3%;
}

.principlesOrig {
  opacity: 0;
}

.principlesAnim {
  animation-name: Fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation: Fade 1.5s forwards;
}

@keyframes Fade {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
