.why {
  width: 90vw;
}

.whyParent {
  padding-top: 100px;
  /* padding-bottom: 100px; */
  /* background-color: #d5dce0; */
  background-image: url("../Images/bars.png"), linear-gradient(#d5dce0, white);
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.title > hr {
  width: 20vw;
  border: none;
  height: 5px;
  /* Set the hr color */
  color: #0054a1; /* old IE */
  background-color: #0054a1; /* Modern Browsers */
}

.whySection > h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 30px;
}

@media screen and (max-width: 450px) {
  .whyParent {
    padding-top: 50px;
    /* padding-bottom: 50px; */
    /* background-color: #d5dce0; */
    background-image: url("../Images/bars_mobile.png"),
      linear-gradient(#d5dce0, white);
    background-size: cover;
    background-position: bottom right;
  }

  .whySection > h2 {
    font-size: 27px;
  }
}

@media screen and (max-width: 992px) and (min-width: 451px) {
  .whyParent {
    padding-top: 50px;
    /* padding-bottom: 50px; */
    /* background-color: #d5dce0; */
    background-image: url("../Images/bars_tablet.png"),
      linear-gradient(#d5dce0, white);
    background-size: cover;
    background-position: bottom right;
  }
}

.whySection > ul > li {
  list-style-type: none;
  font-size: 2.8vh;
  font-weight: 400;
  color: black;
  padding-left: 5%;
  font-family: "Poppins", sans-serif;
}

.whySection {
  /* background-color: #175676; */
  /* background: linear-gradient(to top right, #2692de, 10%, white); */
  border-radius: 15px;
  /* box-shadow: 2px 2px 5px black; */
  /* transition: 0.5s ease-in-out; */
}

.whyTitle {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 35px;
  text-align: left;
}

.mainPoints {
  color: rgb(42, 79, 100);
}

.whyOrig {
  opacity: 0;
}

.whyAnim {
  animation: Fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes Fade {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
