.why {
  width: 90vw;
}

.whyParent {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #d5dce0;
  background-image: url("../Images/bars.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .whyParent {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #d5dce0;
    background-image: url("../Images/bars.png");
    background-size: cover;
    background-position: bottom;
  }
}

body {
  background-color: black;
}

.whySection > h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: black;
}

.whySection > ul > li {
  list-style-type: none;
  font-size: 2.5vh;
  color: black;
  padding-left: 5%;
}

.whySection {
  /* background-color: #175676; */
  /* background: linear-gradient(to top right, #2692de, 10%, white); */
  border-radius: 15px;
  /* box-shadow: 2px 2px 5px black; */
  /* transition: 0.5s ease-in-out; */
}

.mainPoints {
  color: black;
}

.whyTitle {
  font-family: "Quicksand", sans-serif;
  color: black;
  /* font-weight: 600; */
}
