.WorksParent {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #d5dce0;
    color: white;
  }
  
  .team {
    width: 90vw;
    color: white;
  }
  
  .WorksTitle{
    color:white;
  }