.TeamParent {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(white, #d5dce0);
  font-family: inter;
}

.Team {
  width: 90vw;
}

.TeamTitle {
  color: black;
}

.profileImg {
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
  border-radius: 0.25rem !important;
  width: 100%;
  height: 100%;
}

.pfp {
  padding: 2em;
}

@media screen and (max-width: 1280px) {
  .team {
    width: 50vw;
    color: black;
  }

  .profileImg {
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
    border-radius: 0.25rem !important;
    max-width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .profileImg {
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
    border-radius: 0.25rem !important;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 540px) {
  .profileImg {
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
    border-radius: 0.25rem !important;
    max-width: 100%;
    max-height: 100%;
  }
}

.sectionBox > a {
  text-decoration: none;
  color: black;
}

.TeamOrig {
  opacity: 0;
}

.TeamAnim {
  animation: Fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes Fade {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
