body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #d5dce0;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(42, 79, 100);
  border: 2px solid white;
  border-radius: 20px;
}

.hrLineAnim {
  animation: drawIn 1s 1s forwards ease-in-out;
  border: none;
  height: 5px;
  /* Set the hr color */
  color: #0054a1; /* old IE */
  background-color: #0054a1; /* Modern Browsers */
  opacity: 0;
}

@keyframes drawIn {
  0% {
    width: 0%;
  }

  100% {
    width: 20vw;
    opacity: 0.4;
  }
}
